:root {
    --primary-bg-color: black;
    --primary-text-color: white;
    --accent-color: rgba(252, 244, 244, 0.63);
    --border-color: rgba(252, 245, 245, 0.644);
  }

@font-face {
    font-family: 'simplonNorm';
    src: url('/fonts/SimplonNormLight.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'interFont';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
}
*{
 margin: 0px;
 box-sizing: border-box;
}
body{
    background-color:var(--primary-text-color);
}

